
.wp-block {
    max-width: none !important;
}

.container, .wp-block:not([data-type^="acf/"]) {
  width: 100% !important;
  margin: 0 auto !important;
}

@media (min-width: 576px) {
	.container, .wp-block:not([data-type^="acf/"]) {
		max-width: 576px !important;
	}
}

@media (min-width: 768px) {
	 .container, .wp-block:not([data-type^="acf/"]) {
		max-width: 768px !important;
	}
}

@media (min-width: 992px) {
	.container, .wp-block:not([data-type^="acf/"]) {
		max-width: 992px !important;
	}
}

@media (min-width: 1200px) {
	.container, .wp-block:not([data-type^="acf/"]) {
		max-width: 1200px !important;
	}
}
